
<nav data-role="navbar">
    <ul>
        <li><a href="#groupsearch" data-role="button" data-icon="search">Find Group</a></li>
        <li><a href="#newgroup" data-role="button" data-icon="plus">New Group</a></li>
        <li><a href="#approve" data-role="button" data-icon="check">Approve Friends</a></li>
        <li><a href="#groupsin" data-role="button" data-icon="grid">Groups I'm In</a></li>
        <li><a href="#usersrank" data-role="button" data-icon="star">Ranks!</a></li>
    </ul>
</nav>
